apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
data:
  PAYLOAD_SECRET: ${PAYLOAD_SECRET}
  DATABASE_URI: ${DATABASE_URI}
  S3_ENDPOINT: ${S3_ENDPOINT}
  S3_ACCESS_KEY: ${S3_ACCESS_KEY}
  S3_SECRET_KEY: ${S3_SECRET_KEY}
  S3_BUCKET: ${S3_BUCKET}

